# ────── Python Environments
__pycache__/
*.py[cod]
*.egg-info/
AppDir/
build/
dist/
mo/
*.egg

# ────── Test & Output Data
/output/
/tmp/
*.log
*.tar.gz
*.zip
*.AppImage
ruff.toml

# ────── OS & IDE Metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
*~

# ────── Others
menuet.svg
auto-translate.sh
